<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <appSettings>
    
    <add key="hostname" value="localhost"/>
    <add key="port" value="5672"/>
    <add key="username" value="guest"/>
    <add key="password" value="guest"/>
    <add key="vhost" value="/"/>
    
    
    
    <!-- CLOUDAMQP CONFIG -->
    
    <!--
      <add key="hostname" value="jellyfish.rmq.cloudamqp.com"/>
      <add key="vhost" value="kibodwzn"/>
      <add key="port" value="5672"/>
      <add key="username" value="kibodwzn"/>
      <add key="password" value="iCifu3ecoBo-tZYFtFsB3bNh8UfE5c9N"/>
    -->
  </appSettings>
</configuration>
